@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  background: rgb(255,38,0);
  background: linear-gradient(360deg, rgba(255,38,0,1) 0%, rgba(255,184,0,1) 100%);
  color: white;
  font-family: 'Nunito', sans-serif;
}

#header {
  height: 150px;
  text-align: center;
}
#content {
  padding: 100px;
  height:400px;
}
#footer {
  width: 1000px;
  margin: -100px auto 0;
  height: 100px;
  position: relative;
}

.copy {
 font-size: 80%;
 color: darkred;
   text-align: center;
}
